<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">

    <button class="bg-[#1d4ed8] text-white font-semibold px-4 py-2 rounded-lg m-4" (click)="showAddForm = true">Add response</button>

    <!--            <button  (click)="showAddForm = true" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600  sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-indigo-700 mt-3 hover:bg-indigo-600 focus:outline-none rounded ">-->
    <!--              <p class="m-4 text-sm font-medium leading-none text-white">Add Level</p>-->
    <!--            </button>-->

    <div [class.hidden]="!showAddForm" class="popup-form p-4">
        <h2 class="text-lg font-semibold">{{ operation === 'add' ? 'Ajouter' : 'Modifier' }} response</h2>
        <form [formGroup]="responseForm" (ngSubmit)="operation === 'add' ? addResponse() : updateResponse()" class="py-6 px-9">
            <div class="mb-5">
                <label for="content" class="mb-3 block text-base font-medium text-[#07074D]">
                    content
                </label>
                <input type="text" name="content" id="content" formControlName="content"
                       placeholder="content" required
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>

            <div class="mb-5 flex space-x-8">
                <button type="submit"
                        class="hover:shadow-form w-30 rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    {{ operation === 'add' ? 'Ajouter' : 'Modifier' }}</button>
                <button type="button" (click)="cancelAddOrEdit()"
                        class="hover:shadow-form w-30 rounded-md bg-[#9D1818] py-3 px-8 text-center text-base font-semibold text-white outline-none">Annuler</button>
            </div>
        </form>
    </div>
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900 ">ID</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">content</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900" ></th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900" ></th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr class="hover:bg-gray-50" *ngFor="let response of responses.responses">
            <td class="px-6 py-4">{{ response.id }}</td>
            <td class="px-6 py-4">{{ response.content }}</td>
            <td class="px-6 py-4">{{ response.points }}</td>
            <td class="px-6 py-4">{{ response.points }}</td>
            <td class="px-6 py-4">

                <div class="flex justify-center gap-4">
                    <a x-data="{ tooltip: 'Edite' }"  (click)="editResponse(response)" >
                        <td class="pl-4">
                            <button  (click)="showAddForm = true" selectedResponse = response class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-100 py-3 px-5 bg-[#1d4ed8] rounded hover:bg-gray-200 hover:text-gray-900 focus:outline-none">update</button>
                        </td>
                    </a>
                    <a x-data="{ tooltip: 'Delete' }" >
                        <td class="pl-4">
                            <button (click)="deleteResponse(response.id)" class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-100 py-3 px-5 bg-[#1d4ed8] hover:text-gray-900 rounded hover:bg-gray-200 focus:outline-none">delete</button>
                        </td>
                    </a>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
